main {
  display: block;
  margin: auto;
  max-width: calc(100vw - calc(2 * var(--page-padding)));
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h2.day-name {
  font-style: italic;
  font-weight: normal;
}

.black-letter-days {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
