.gloria-patri {
  margin-left: calc(var(--ldf-gloria-indent) / 2);
  text-indent: calc(var(--ldf-gloria-indent) / -2);
}

@media (min-width: 450px) {
  .gloria-patri {
    margin-left: var(--ldf-gloria-indent);
    text-indent: calc(var(--ldf-gloria-indent) * -1);
  }

  .gloria-patri > p:first-child {
    margin-left: 0em;
  }

  .gloria-patri > p:nth-child(even) {
    margin-left: 1em;
  }
}
